[project]
	description = gerrit presentation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dimitrov987
[access "refs/for/refs/*"]
	read = group user/dimitrov987
	push = group user/dimitrov987
	label-Code-Review = -2..+2 group user/dimitrov987
	label-Verified = -1..+1 group user/dimitrov987
	rebase = group user/dimitrov987
	removeReviewer = group user/dimitrov987
	submit = group user/dimitrov987
[access "refs/heads/*"]
	read = group user/dimitrov987
	create = group user/dimitrov987
	push = +force group user/dimitrov987
	pushMerge = group user/dimitrov987
[access "refs/tags/*"]
	push = +force group user/dimitrov987
	pushTag = group user/dimitrov987
	pushSignedTag = group user/dimitrov987
